.button{
    color: #5E3BEE  !important;
    border: 1px solid #5E3BEE;
}
.purple{
    color: #5E3BEE !important;
}
.para{
    color: #5E3BEE !important;
}
.herobtn{
    color:azure;
    background-color: #5E3BEE !important;
}
.hero{
    background-color: #F5FCFF;
}
.gallery{
    background-color: #F5FCFF ;
    outline: 20px solid white;
    display: flex !important;
    flex-direction: column !important;
    gap: 20px;
}