.button{
    color: #5E3BEE  !important;
    border: 1px solid #5E3BEE;
}
.purple{
    color: #5E3BEE !important;
}
.herobtn{
    background-color: #5E3BEE !important;
    color:white !important;
}
.para{
    color: #5E3BEE !important;
}